$brand-color: #449ebf;
$black-color: #081425;
$white-color: #ffffff;
$contrast-background: #f1efef;

$card-bio-text-color: #525252;
$context-subtile-color: #4e4e4e;
$header-button-color: #3AAFBF;
$band-text-color: $white-color;
$button-text-color: $white-color;
$button-border-color: $white-color;